---
import Image from "astro/components/Image.astro";
import DialogBoxImage from './dialogbox.png';
import DialogBoxImageRed from './dialogbox-red.png';
import Ghost from './ghost.png';

const { name, content } = Astro.props;
---

<style>

.box {
  position: absolute;
  top: 70%;
  left: 50%;
  height: 20vh;
  transform: translate(-50%, -50%);
  border: rgb(88, 88, 88) inset 5px;
  outline: white outset 2px;
}

.inner{
  width: fit-content;
  height: 20vh;
}

@keyframes red-anim {
  0% {
    opacity: 3%;
  }
  50% {
    opacity: 8%;
  }
  100% {
    opacity: 3%;
  }
}

.red{
  animation: red-anim 4s linear infinite;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

.portrait{
  position: absolute;
  margin: -5px;
  padding: 0;
  left: 0;
  top: 0;
  height: 20vh;
  width: fit-content;
  border: rgb(88, 88, 88) inset 5px;
  outline: white outset 2px;
}


.name {
  position: absolute;
  left: calc(20vh + 14px);
  top: 6px;
  width: 73%;
  color: white;
  box-shadow: white 0px 3px 2px -2px;
}

.text {
  position: absolute;
  left: calc(20vh + 20px);
  top: 42px;
  color: white;
  font-size: small;
}

.next {
  position: absolute;
  right: 2vh;
  bottom: 1vh;
  color: white;
}

</style>


<dialog-box id="dialog" class="box" speaker-name={name} content={content}>
  <Image src={DialogBoxImage} alt="dialog" class="inner"/>
  <Image src={DialogBoxImageRed} alt="dialog" class="red inner"/>
  <Image src={Ghost} alt="portrait" class="portrait"/>
  <div id="name" class="name"/>
  <div id="content" class="text"/>
  <div class="next">></div>
</dialog-box>


<script>
  let writeProgress = 0;
  let running

  class DialogBox extends HTMLElement {
    static get observedAttributes() {
      return ["speaker-name", "content"];
    }

    connectedCallback() {
      this.render();
    }

    attributeChangedCallback() {
      this.render();
    }

    renderNextLetter() {
      writeProgress += 1;
      let content = this.getAttribute("content");
      if (writeProgress <= content.length) {
        this.querySelector('#content').innerHTML = content.substring(0, writeProgress);
        setTimeout(()=> this.renderNextLetter(), 150);
      } else {
        running = false;
      }
    }

    renderLetters() {
      if (running == true) {
        return;
      }
      running = true;

      setTimeout(() => this.renderNextLetter(), 150);
    }

    render() {
      let name = this.querySelector('#name');
      name.innerHTML = this.getAttribute("speaker-name");

      writeProgress = 0;
      this.renderLetters();
    }
  }

  customElements.define("dialog-box", DialogBox);
</script>
