---
import { Image } from "astro:assets";

import Color from "../components/depth/Color.astro";
import Interaction from "../components/depth/Interaction.astro";

import Cursor from "../components/depth/Cursor.astro";
---

<style>
html {
  height: 100%;
}

body {
  background-color: black;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
}

.cursed {
  height: 70%;
  display: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-style: dashed;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 10px rgb(255, 0, 0);
}


.dialog {
  background-color: grey;
  border-style: double;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 100px 30px rgb(0, 0, 0);
  position: absolute;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  left: calc(50% - 169px);
  top: calc(50% - 59px);
  height: fit-content;
  width: fit-content;
  z-index: 10;
  display: none;
}

</style>

<script>
import { cursorData } from "../components/depth/depth.js";

import * as map from "../components/depth/map.json";

let first = map["default"]["1"];
let debug = false;

let container = document.getElementById("container");

document.addEventListener("keydown", (e) => {
  if (e.shiftKey == true) {
    let rects = [...document.getElementsByTagName("rect")];
    rects.forEach((el) => el.setAttribute("opacity", 0.1));
    debug = true;
  }
})
document.addEventListener("keyup", (e) => {
  if (debug == true) {
    let rects = [...document.getElementsByTagName("rect")];
    rects.forEach((el) => el.setAttribute("opacity", 0));
    debug = false;
  }
})

let coords = null;

let areaOver = (type) => {
  return (e) => {
    cursorData.setType(type);
  }
}

let areaClicked = (id) => {
  return (e) => {
    if (e.shiftKey == false) {
      setScene(map["default"][id])
    }
  }
}

let areaOut = () => {
  cursorData.unsetType();
}

let imageClicked = (width, height) => {
  return (e) => {
    if (e.shiftKey == true) {
      let dim = e.target.getBoundingClientRect();
      let unscaledX = e.clientX - dim.left;
      let unscaledY = e.clientY - dim.top;
      let x = unscaledX * width / dim.width;
      let y = unscaledY * height / dim.height;
      if (coords == null) {
        coords = {x, y};
        console.log('...');
      } else {
        console.log(`
          "x": ${coords.x},
          "y": ${coords.y},
          "width": ${x - coords.x}
          "height": ${y - coords.y}
        `);
        coords = null;
      }
    }
  }
}

let loadAreas = (areas) => {
  areas.map(areaData => {
    let newArea = document.createElementNS("http://www.w3.org/2000/svg", "rect");
    newArea.setAttribute('x', areaData.coords.x);
    newArea.setAttribute('y', areaData.coords.y);
    newArea.setAttribute('width', areaData.coords.width);
    newArea.setAttribute('height', areaData.coords.height);
    newArea.setAttribute('id', 'test');
    newArea.setAttribute('fill', 'blue');
    newArea.setAttribute('opacity', '0');

    newArea.addEventListener("mouseover", areaOver(areaData.type));
    newArea.addEventListener("mouseout", areaOut);
    newArea.addEventListener("click", areaClicked(areaData.id));
    container.appendChild(newArea);
  })
}

setScene(first);

function setScene(scene) {
  container.innerHTML = "";
  let newImg = new Image();
  newImg.onload = () => {
    console.log(`0 0 ${newImg.naturalWidth} ${newImg.naturalHeight}`);
    container.setAttribute("viewBox", `0 0 ${newImg.naturalWidth} ${newImg.naturalHeight}`);
    let image = document.createElementNS("http://www.w3.org/2000/svg", "image");
    image.setAttribute("width", newImg.naturalWidth);
    image.setAttribute("height", newImg.naturalHeight);
    image.setAttribute("href", scene.image);
    image.setAttribute("id", "image");
    container.appendChild(image);

    image.addEventListener("click", imageClicked(newImg.naturalWidth, newImg.naturalHeight));
    loadAreas(scene.areas)
    container.style.display = "inherit";
  };
  newImg.src = scene.image;

  cursorData.unsetType();
  if (scene.event != null) {
    if (scene.event == "pause") {
      let dialog = document.getElementById("dialog");
      dialog.style.display = "inherit";
    }
  }
}



</script>

<html>
  <body>
    <div class="dialog" id="dialog">
      Nothing to see here, come back later...
    </div>
    <Cursor/>
    <!-- <Interaction type="forward" /> -->
    <!-- <img alt="" class="cursed" id="cursed" usemap="#map">
    <map name="map" id="areas">
    </map> -->

    <svg class="cursed" id="container" ></svg>
    </div>
  </body>
</html>
